<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title id="title_tag">DevTrack</title>
    <meta
        content="We are Known For Our Specialty in  Web | Mobile | Desktop Applications | Ethical Hacking | Data Analysis | Artificial Intelligence | Database and Cloud Engineering | Log on to www.ease4life.dev lets get Started"
        name="Ease4Life">
    <meta name="description" content="Ease4Life is  A leading Certified Solution Architect Company Decked with the professionality
        to build and deploy State-of-the-Art revolutionary Tech Solutions geared towards personal,
        Business and Global development, Economic growth and Improved standard of Living">
    <!-- icons -->
   <link href="static/img/icon.png" rel="icon">
    <link href="static/img/icon.png" rel="apple-touch-icon">
    <!-- styles -->
    <link rel="stylesheet" href="static/css/custom.css">
</head>

<body>
    <div id="core"></div>
    <!-- javascripts -->


    <script src="static/js/jquery-1.12.4.min.js"></script>
    <script src="static/js/core.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script src="static/js/wow.min.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/script.js"></script>
</body>

</html>